@media screen and (max-width: 800px) {

    body
    {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    #body
    {
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px black solid;
        height: 850px;
        width: 110%;
        background-repeat: no-repeat !important;
        /*background: linear-gradient(to bottom, #f67 , #5cb3ff 95%);*/
    }
    .cont
    {
        width: 90%;
        height: 500px;
        margin-top: 25%;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px black;
    }
    .weather
    {
        border-radius: 5px;
        border: 0px black solid;
        margin: 0 auto;
        margin-top: 3%;
        width: 94%;
        height: 390px;
        box-shadow: 0px 0px 5px 0px black;
        /*background-image: linear-gradient(to bottom, #fff, #5cb3ff);*/
    }
    .day
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px red solid;
        margin-top: 5%;
        width: 100%;
    }
    .day div
    {
        border: 0px black solid;
        width: 100%;
        height: 20px;
        text-align: center;
        margin: 1%;
    }
    #svg-cont
    {
        width: 50%;
        height: 190Px;
        border: 1px black solid;
    }
    svg
    {
        display: none;
    }
    .oth
    {
        border: 0px red solid;
        width: 100%;
        height: 30px;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        margin-top: 5px;
    }
    .oth input
    {
        border: 1px black solid;
        width: 50%;
        height: 30px;
        outline: none;
        background-color: transparent;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .oth input::placeholder
    {
        text-align: center;
    }
    .oth button
    {
        border: 1px black solid;
        width: 50%;
        height: 32px;
        text-align: center;
        line-height: 30px;
    }
    .oth input, button
    {
        margin: 1%;
    }
    .flex
    {
        border: 0px black solid;
        display: flex;
    }
    #container
    {
        width: 50%;
        text-align: left;
        margin-top: 5%;
        border: 0px black solid;
    }
    #container div
    {
        border: 0px red solid;
        background-color: transparent;
        margin: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
    #container div span
    {
        border: 0px blue solid;
        width: 50%;
        padding-left: 10%;
    }
    #container div .dta
    {
        border: 0px black solid;
        color: green;
        width: 13%;
        text-align: center !important;
    }
    #container div .chart
    {
        border: 1px red solid;
        width: 15%;
        height: 15px;
        justify-content: left;
    }
    #cont2
    {
        display: flex;
        justify-content: center;
        border: 0px red solid;
        height: 50%;
    }
    #forcoust
    {
        width: 50%;
        border: 0px black solid;
    }
    #chartnclock
    {
        width: 50%;

        border: 0px black solid;
        display: grid;
        /* IMPORTANT */
        grid-template-coloumns: auto auto;
        /* IMPORTANT  */
        grid-template-rows: 50% 50%;
        /* IMPORTANT */
    }
    #chartnclock .chart2
    {
        margin-top: 0px !important;
        margin: 1%;
        border: 1px black solid;
    }
    #chartnclock .clock
    {
        margin: 1%;
        margin-bottom: 0px !important;
        border: 1px black solid;
    }

    .hour
    {
        display: flex;
    }
    .hour .am-u
    {
        border: 1px black solid;
    }
    .hour span, .am-u
    {
        border: 0px black solid;
        width: 50%;
        margin: 1.8%;
        height: 18px;
    }
    .hour span
    {
        font-size: 13px;
    }
    #am3 span, #am-3
    {
        margin-top: 2px;
    }
    #am24 span, #am-24
    {

        margin-bottom: 5px !important;
    }
    .clock
    {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
}